{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_union/secondary_icons_vertical

    Template to render secondary navigation as vertical icon links.
}}
<div class="secondary-navigation-icons vertical d-flex flex-column gap-2 mt-2 align-items-center">
    {{#custom_nodes}}
        {{^haschildren}}
            <a href="{{{url}}}" class="btn {{#isactive}}btn-secondary{{/isactive}}{{^isactive}}btn-outline-secondary{{/isactive}} secondary-icon-link secondary-icon-key-{{key}} d-flex align-items-center justify-content-center p-2 text-decoration-none rounded-circle" title="{{{text}}}" data-toggle="tooltip" data-bs-placement="right" style="width: 40px; height: 40px;">
                <div class="d-flex align-items-center justify-content-center m-0">
                    {{{iconhtml}}}
                </div>
                <span class="visually-hidden">{{{text}}}</span>
            </a>
        {{/haschildren}}
        {{#haschildren}}
            <div class="dropdown">
                <button class="btn {{#isactive}}btn-secondary{{/isactive}}{{^isactive}}btn-outline-secondary{{/isactive}} secondary-icon-link secondary-icon-key-{{key}} d-flex align-items-center justify-content-center p-2 text-decoration-none rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{{text}}}" data-toggle="tooltip" data-bs-placement="right" style="width: 40px; height: 40px;">
                    <div class="d-flex align-items-center justify-content-center m-0">
                        {{{iconhtml}}}
                    </div>
                    <span class="visually-hidden">{{{text}}}</span>
                </button>
                <ul class="dropdown-menu shadow">
                    {{#children}}
                        <li><a class="dropdown-item {{#isactive}}active{{/isactive}}" href="{{{url}}}">{{{text}}}</a></li>
                    {{/children}}
                </ul>
            </div>
        {{/haschildren}}
    {{/custom_nodes}}
</div>
