{{!
    @template block_sharing_cart/block/course/add_to_sharing_cart_menu_item

    "Add to Sharing Cart" item injected into section and activity edit menus.

    Example context (json):
    {}
}}
<a href="#" class="dropdown-item menu-action add_to_sharing_cart" role="menuitem" tabindex="-1" data-sharing-cart-action="add">
    <i class="icon fa fa-shopping-basket fa-fw" aria-hidden="true"></i>
    <span class="menu-action-text">{{#str}}add_to_sharing_cart, block_sharing_cart{{/str}}</span>
</a>
